doctype 5
html
  head
    title #{title} v#{settings.version} (#{settings.env})
    link(rel='stylesheet', href='/css/style.css')

    case settings.env
      when 'production'
        script(src='/js/dist/#{settings.name}.prod.js')
      when 'development'
        script(src='/js/dist/#{settings.name}.dev.js')
      default
        script(src='/js/src/vendor/require.js', data-main="/js/src/config")
  body
    block content
